body {
  margin: 0;
  padding: 0;
  background-image: url('../images/bg.jpg');
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于 viewport 固定 */
  background-attachment: fixed;
  /* 背景图基于容器大小伸缩 */
  background-size: cover;
}